<h1>Editing Education Qualification</h1>

<%= render 'form', education_qualification: @education_qualification %>

<%= link_to 'Show', @education_qualification %> |
<%= link_to 'Back', education_qualifications_path %>
