// Place all the styles related to the JobPosts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nav-bar-job{
	margin: auto;
	display: block;
	width: 25%;
}